//Color variables
$color-black: #000000;
$color-purple: #aa86ce;
$color-blue: #5E9AD8;
$color-green: #32a852;
$color-yellow: #EBB346;
$color-orange: #EE521E;
$color-red: #FF0000;
$color-white: #FFFFFF;