@use '_abstract' as *;

@mixin flex-x($wrap: nowrap) {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: $wrap;
}

@mixin flex-y($wrap: nowrap) {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: $wrap;
}

@mixin section($color) {
    background-color: $color;
    padding: 3rem;
    border-radius: 3rem;
}

@mixin btn($color) {
    background-color: $color;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: $font-s;
    border: $color-black 2px solid;
    display: block;
    text-decoration: none;
    color: black;
    cursor: pointer;
    &:hover {
        background-color: darken($color, 10%);
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-wrap: break-word;
}

p, span, a {
    font-size: $font-s;
}

body {
    margin: 0;
    padding-top: 90px;
    min-height: calc(100vh - 90px);
    background-image: url(/img/back.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover
}

header {
    @include flex-x();
    justify-content: space-between;
    padding: 0.5rem 3rem;
    background-color: $color-purple;
    box-shadow: $color-black 0 4px 20px 2px;
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - 6rem);
    z-index: 10;
    nav {
        @include flex-x();
        gap: 2rem;
    }
}

h1 {
    font-size: $font-xl;
}

.logo img {
    width: 5rem;
}

.icon {
    color: $color-white;
    font-size: x-large;
    transition: color 500ms;
    &:hover {
        color: $color-yellow;
    }
}

main {
    min-height: calc(100vh - 90px);
    padding: 0 3rem;
    @include flex-y();
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.section {
    &-white {
        @include section($color-white);
    }
    &-yellow {
        @include section($color-yellow);
    }
    &-green {
        @include section($color-green);
    }
    &-blue {
        @include section($color-blue);
    }
    &-purple {
        @include section($color-purple);
    }
    &-flex-x {
        @include flex-x();
        gap: 10px;
    }
    &-flex-y {
        @include flex-y();
        gap: 10px;
    }
}

.btn {
    &-white {
        @include btn($color-white);
    }
    &-yellow {
        @include btn($color-yellow);
    }
    &-green {
        @include btn($color-green);
    }
    &-blue {
        @include btn($color-blue);
    }
    &-purple {
        @include btn($color-purple);
    }
}

::-webkit-scrollbar {
    width: 13px;
    height: 13px;
  
    &-track {
      background-color: lighten($color-blue, 20%);
    }
  
    &-thumb {
      background-color: darken($color-purple, 10%);
      border-radius: 1rem;
  
      &:active {
        background-color: darken($color-purple, 20%);
      }
    }
  }